/* Hide the scrollbar */
.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  flex: 0.4;
  border-right: 1px solid var(--twitter-background);
  border-left: 1px solid var(--twitter-background);
  min-width: 750px;
  overflow-y: scroll;
}

.feed_header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border-bottom: 1px solid var(--twitter-background);
  padding: 15px 20px;
}

.admin_header {
  background-color: pink !important;
}

.feed_header > h2 {
  font-size: 20px;
  font-weight: 800;
}
