.bg-blue-300 {
  background-color: #90cdf4;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.bg-white {
  background-color: #fff;
}

.text-center {
  text-align: center;
}

.font-bold {
  font-weight: bold;
}

.flex-col {
  flex-direction: column;
}

.text-white {
  color: #fff;
}
.no-underline:hover {
  text-decoration: none;
}

.gray:hover {
  background-color: #808080 !important;
}
