.container {
  display: block;
  color: white;
  background-color: #1da1f2;
  width: 100vw;
  padding: 8px 16px 16px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  text-shadow: "0px 4px 4px rgba(0, 0, 0, 0.25)";
}
