.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
}

.post_body {
  flex: 1;
  padding: 10px;
}

.post_body > img {
  border-radius: 20px;
}

.post_footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.post_headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post_avator {
  padding: 10px;
  display: flex;
}

.post_headerText > h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.post_badge {
  font-size: 14px !important;
  color: var(--twitter-color);
}

.post_headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post_avatar {
  padding: 20px;
  display: flex;
}

img {
  width: 100%;
  max-width: 600px;
  display: flex;
}

.comment_form .tweetBox_input {
  display: flex;
  padding: 20px;
  background-color: rgb(215, 245, 250);
  border-radius: 10px;
}

.comment_form .tweetBox_input > input {
  flex: 1;
  font-size: 15px;
  border: none;
  display: flex;
  padding: 10px;
  margin-left: 10px;
}

.comment_form .tweetBox_input > Avatar {
  display: flex;
  padding: 10px;
}

.post_footer .sidebarOption > h2 {
  font-weight: 800;
  font-size: 15px !important;
  margin-right: 20px;
}

/* .post_comment {
  display: flex;
  background-color: rgb(206, 241, 247);
  border-radius: 10px;
} */

.post_comment > .post_comment_text {
  flex: 1;
  width: 80%;
  font-size: 15px;
  border: none;
  display: flex;
  padding: 10px;
  margin-left: 10px;
}

.comment_form .tweetBox_additional {
  display: flex;
  padding: 20px;
  background-color: rgb(247, 254, 255);
  border-radius: 10px;
}

.comment_form .tweetBox_additional > input {
  flex: 1;
  font-size: 15px;
  border: none;
  display: flex;
  padding: 10px;
  margin-right: 10px;
}

.comment_form .tweetBox_input > .tweetBox_tweetButton {
  display: flex;
  padding: 10px;
}

.post_id {
  display: flex;
  float: right;
}
