.bg-blue-300 {
  background-color: #90cdf4;
}

.bg-white {
  background-color: #ffffff;
}

.text-center {
  text-align: center;
}

.font-bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.box-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.flex-row {
  flex-direction: row;
}

.justify-between {
  justify-content: space-between;
}

.no-underline {
  text-decoration: none;
}

.hover\:underline:hover {
  text-decoration: underline;
}

.text-black {
  color: #000000;
}

.text-white {
  color: #ffffff;
}
