.bg-blue-300 {
  background-color: #90cdf4;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.bg-white {
  background-color: #fff;
}

.text-center {
  text-align: center;
}

.font-bold {
  font-weight: bold;
}

.flex-col {
  flex-direction: column;
}

.border-radius {
  border-radius: 30px;
}

.text-white {
  color: #fff;
}

.no-underline {
  text-decoration: none;
}

.hover\:underline:hover {
  text-decoration: underline;
}

.hover\:bg-gray-800:hover {
  background-color: #01070c;
}
