.sidebarcontainer {
    border-right: 1px solid var(--twitter-background);    
    /*
    flex: 0.3;
    padding-left: 10px;
    */
    min-width: 200px;
    margin-top: 20px;
    padding-right: 20px;
}