/*
The CSS have referenced Rafeh Qazi's https://github.com/CleverProgrammers/twitter-clone

Documentation by ChatGPT (modified):

This CSS code defines custom variables for Twitter colors using the body element. 
It then defines two classes for different sections of a webpage: admin and app. 
The admin class sets a pink background color and uses flexbox for layout with 100% viewport height and horizontal centering through margin settings. 
The app class has similar style properties as admin, but with a transparent background color.

*/

body {
  --twitter-color: #6bc5fd;
  --twitter-background: rgb(198, 239, 249);
}

.admin {
  background-color: pink;
  display: flex;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.app {
  display: flex;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}
