body {
  --twitter-color: #6bc5fd;
  --twitter-background: rgb(198, 239, 249);
}

.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}